@import url('https://fonts.googleapis.com/css2?family=Popping&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$-bg-color: #2fbf77;
$-white: #fff;
$-black-light: #545454;
$black-dark: #1e1c1c;
div {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: $-bg-color;
    .login{
        height: 450px;
        width: 400px;
        border-radius: 15px;
        background: $black-dark;
        display: flex;
        padding: 30px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
        .imgBx{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin-top: -130px;
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }        
        }
        .formBx {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            h2 {
                font-size: 2em;
                color: $-white;
            }
            .inputBx {
                padding: 5px;
                margin: 5px 0;
                width: 100%;
                p {
                    color: $-white;
                }
                input {
                    padding: 15px;
                    background: $-black-light;
                    width: 100%;
                    border: none;
                    margin: 5px 0;
                    outline: none;
                    border-radius: 5px;
                    color: $-white;
                    &::placeholder{
                        color: $-white;
                    }
                }
            }
            a{
                background: $-bg-color;
                color: $-white;
                padding: 10px 45px;
                border-radius: 5px;
                text-decoration: none;
                margin: 10px 0;
                transition: 0.5s;
                &:hover{
                    letter-spacing: 2px;
                    transform: translateY(-5px);
                }
            }
        }
    }
    
}