<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Ingenieria en Sistemas de la Información</h1> - 
                <h3>2021-2025</h3>
            </li>
            <p>
                Universidad Nacional Tecnológica (UTN)
            </p>
        </ul>
        <li>
            <h1>Desarrollador Web Full Stack Jr Java</h1> - 
            <h3>2021-2022</h3>
        </li>
        <p>
            Argentina Programa
        </p>
    
        <li>
                <h1>Habilidades Blandas</h1> - 
                <h3>2021</h3>
        </li>
        <p>
        Accenture
        </p>

    </div>
</div>

