<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Ingenieria en Sistemas de la Información</h3> - 
                <h4>2021-2025</h4>
            </li>
            <p>
                Universidad Nacional Tecnológica (UTN)
            </p>
        </ul>
        <ul>
        <li>
            <h3>Desarrollador Web Full Stack Jr Java</h3> - 
            <h4>2021-2022</h4>
        </li>
        <p>
            Argentina Programa
        </p>
         </ul>
        <ul>
        <li>
                <h3>Habilidades Blandas</h3> - 
                <h4>2021</h4>
        </li>
        <p>
        Accenture
        </p>
        </ul>
    </div>
</div>

