.row {
    color: #fcf9f9ee;
    padding: 20px;
    background: rgb(20,32,46);
    background: radial-gradient(circle, rgba(20,32,46,1) 30%,
                                        rgba(10,19,52,1) 56%,
                                        rgba(45,67,86,1) 77%,
                                        rgba(137,170,195,1) 98%);
  }
th {
    color: #212529;
}
td {
    color: #212529;
}
table{
    table-layout: fixed;
    width: 180%;
}

th, td {
    border: 1px solid rgba(0, 0, 255, 0.63);
    width: 200px;
    word-wrap: break-word;
}
.div {
    text-align: center;
}

h3, h4 {
    display: inline;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #14202e;
}

h2 {
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: url('../../../assets/abc.png');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 7.5s linear infinite;
}

@keyframes text {
    from { background-position: 0% 50%; }
    to { background-position: 100% 100%; }
}

.card-body{
    background: rgb(20,32,46);
  }

.btn {
    background: rgb(32, 51, 72);
  }

@media (max-width: 1300px) {
    table{
        table-layout: auto;
        width: 100%;
    }
}

@media (max-width: 520px) {
    table{
        display: none;
        width: 100%;
    }
}
