<div class="content">

    <h1 class="logo">Contact <span>Us</span></h1>

    <div class="contact-wrapper">
        <div class="contact-form">
            <h3>Contact us</h3>
            <form action="">
                <p>
                    <label for="fullname">Fullname</label>
                    <input type="text" name="fullname" id="fullname" placeholder="Fullname" required>
                </p>
                <p>
                    <label>Email Address</label>
                </p>
            </form>
        </div>
        <div class="contact-info">
            
        </div>
    </div>


</div>
