.row {
    color: #fdf7f7;
    padding: 20px;
    background: rgb(20,32,46);
    background: radial-gradient(circle, rgba(20,32,46,1) 30%, rgba(10,19,52,1) 56%, rgba(45,67,86,1) 77%, rgba(137,170,195,1) 98%);
  }

.div {
    text-align: center;
}
th {
    color: #212529;
}
td {
    color: #212529;
}
table{
    background-color: #f8f9fa;
    table-layout: fixed;
    width: 100%;
}

.modal-content {
    color: #212529;
}

th, td {
    border: 1px solid rgba(5, 5, 248, 0.95);
    width: 200px;
    word-wrap: break-word;
}
h1, h3 {
    display: inline;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #14202e;
}

h2 {
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: url('../../../assets/abc.png');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 7.5s linear infinite;
}

@keyframes text {
    from { background-position: 0% 50%; }
    to { background-position: 100% 100%; }
}

.card-body{
    background: rgb(20,32,46);
  }

.btn {
    background: rgb(32, 51, 72);
  }

@media (max-width: 1300px) {
    table{
        table-layout: auto;
        width: 100%;
    }
}

@media (max-width: 520px) {
    table{
        display: none;
        width: 100%;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
    background-color: transparent;
    border: 0;
    padding: 0;
}
