<div class="row">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          <h2>Educacion</h2>
      </a>
    </p>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
          <div class="col-lg-2">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#agregarEdu-modal" routerLink="/nuevaedu" ><!--*ngIf="isLogged"-->
              + Educación
            </button>
          </div>
        
          <div class="col-lg-1">
          <div class="col-lg-11">
                <table class="table text-center">
                  <tbody>
                    <tr *ngFor="let Educacion of educacion">
                      <td>
                        <h3>{{Educacion.titulo}}</h3>
                      </td>
                      <td>
                        <h3>{{Educacion.nombre}}</h3>
                      </td>
                      <td>
                        <h3>{{Educacion.fecha_inicio}}</h3>
                      </td>
                      <td>
                        <h3>{{Educacion.fecha_fin}}</h3>
                      </td>
                      <td>
                        <h3>{{Educacion.img}}</h3>
                      </td>
                      <td>
                        <p>{{Educacion.descripcion}}</p>
                      </td>
                      <td><!-- *ngIf="isLogged"-->
                        <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#editarEdu-modal" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pencil-square"></i> EDITAR</button>
                      </td>
                      <td>
                        <button class="btn btn-outline-danger" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash"></i> BORRAR </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarEdu-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Agregar Educacion</h2>
        <button class="close" data-bs-dismiss="modal">
            <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
              <div class="form-group">
              <label for="titulo">Titulo:</label>
              <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
              </div>
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
              </div>
              <div class="form-group">
                <label for="fecha_inicio">Fecha Inicio:</label>
                <input [(ngModel)]="fecha_inicio" name="fecha_inicio" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="fecha_fin">Fecha Fin:</label>
                <input [(ngModel)]="fecha_fin" name="fecha_fin" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="img">Img:</label>
                <input [(ngModel)]="img" name="img" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input [(ngModel)]="descripcion" name="descripcion" type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="close">Cerrar</button>
              <button class="btn btn-primary">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--EDITAR-->

<div class="modal fade" id="editarEdu-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Editar Experiencia</h2>
        <button class="close" data-bs-dismiss="modal">
            <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="educaciones">
          <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="titulo">Titulo:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="educaciones.titulo" required>
              </div>
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="educaciones.nombre" required>
            </div>
            <div class="form-group">
                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" [(ngModel)]="educaciones.fecha_inicio" required>
              </div>
              <div class="form-group">
                <label for="fecha_fin">Fecha Fin:</label>
                <input type="text" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)]="educaciones.fecha_fin" required>
              </div>
              <div class="form-group">
                <label for="img">Img:</label>
                <input type="text" class="form-control" id="img" name="img" [(ngModel)]="educaciones.img" required>
              </div>
              <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="educaciones.descripcion" required>
              </div>
              <div class="form-group">
              <button class="btn btn-secondary" data-bs-dismiss="close">Cerrar</button>
              <button class="btn btn-primary">Guardar</button>
              </div>
        </form>
        </div>
       </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>