<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="center"> <img src="../../../assets/Ezequiel Giannoni 3.jpg" 
            class = "img-fluid" id="fotodeperfil"></div>
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ezequiel Giannoni</p>
        <p id="cargo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Perfil Profesional</h1>
            <p>Candidato en ingeniera en sistemas de información experto en crear aplicaciones
                 de alto rendimiento con una arquitectura bien organizada. Atento a las innovaciones, 
                 y su impacto a nivel global.
                Resolución de problemas y control de calidad. Desarrollo de sistemas y 
                herramientas con énfasis en el rendimiento y la escalabilidad.
                Mantenimiento de bases de datos, documentos funcionales y técnicos.
                Participación en todos los aspectos de un proyecto,
                desde el diseño y el desarrollo hasta las pruebas</p>
        </span>
    </div>
</div>