<div class="row">
    <div class="col-lg-2">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarPersona-modal">
        Editar
      </button>
    
    
    <!--<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="center"> 
          <img src={{personas.img}} class = "img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{personas.apellido}}</p>
        <p id="cargo">{{personas.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Perfil Profesional</h1>
            <p>{{personas.sobre_mi}}</p>
        </span>
    </div>
</div>
        </div>  
        -->



<div class="modal fade" id="editarPersona-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Editar Persona</h2>
        <button class="close" data-bs-dismiss="modal">
            <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="personas.nombre" required>
          </div>
          <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="personas.apellido" required>
            </div>
            <div class="form-group">
              <label for="titulo">Titulo:</label>
              <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="personas.titulo" required>
            </div>
            <div class="form-group">
              <label for="sobre_mi">Sobre mi:</label>
              <input type="text" class="form-control" id="sobre_mi" name="sobre_mi" [(ngModel)]="personas.sobre_mi" required>
            </div>
            <div class="form-group">
              <label for="img">Img:</label>
              <input type="file" class="form-control" id="img" name="img" [(ngModel)]="personas.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
            </div>
            <div class="imagen">
              <img [src]="imagenService.url" width="200px">
            </div>
      </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="close">Cerrar</button>
        <button class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
</div>