<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarPersona-modal">
        <i class="bi bi-pencil-fill"></i>
      </button>
      </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div class="center">
        <img [src]="personas?.img" class="img-fluid" id="fotodeperfil">
      </div>
    </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <p id="nombre">{{personas?.nombre}} {{personas?.apellido}}</p>
        <p id="cargo">{{personas?.titulo}}</p>
    </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-3">
        <span>
            <h1>Perfil Profesional</h1>
            <p>{{personas?.sobre_mi}}</p>
        </span>
    </div>
  </div>





<div class="modal fade" id="editarPersona-modal" tabindex="-1" *ngIf="personas">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Editar Persona</h2>
        <button class="close" data-bs-dismiss="modal">
            <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="personas.nombre" required>
          </div>
          <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="personas.apellido" required>
            </div>
            <div class="form-group">
              <label for="titulo">Titulo:</label>
              <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="personas.titulo" required>
            </div>
            <div class="form-group">
              <label for="sobre_mi">Sobre mi:</label>
              <input type="text" class="form-control" id="sobre_mi" name="sobre_mi" [(ngModel)]="personas.sobre_mi" required>
            </div>
            <div class="form-group">
              <label for="img">Img:</label>
              <input type="file" class="form-control" id="img" name="img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
            </div>
            <div class="imagen">
              <img [src]="imagenService.url" width="200px">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
