<div class="row"> 
    <div class="container">
            <div class="redes">
                <div>
                    <a href="https://www.linkedin.com/in/ezequielgiannoni/">
                        <img src="../../../assets/linkedin.png" alt="linkedin">
                        </a>
                    <a href="https://github.com/Giannoni-Ezequiel/">
                        <img src="../../../assets/github.png" alt="github">
                        </a>
                    <button type="button" class="btn btn-login" (click)="login()">
                            INGRESAR
                        </button>
                    </div>
                </div>
        </div>
</div>



