.row 
{
    padding: 20px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(147,147,249,1) 100%);

}

.contenedor-container
{
    width: auto;
}

.parte1, .parte2
{
    display: inline-block;
    text-align: justify;
}
.img-proyecto
{
    box-shadow: 10px 10px 5px #000000;
    box-shadow: ejeX ejeY difumasion color;
}