<div class="row">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">
        <h2>Proyectos realizados</h2>
      </a>
    </p>
</div>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample4">
            <div class="card-columns">
                <div class="card p-3">
                <ul>
                    <li>
                        <h3>App Mobile </h3> - 
                        <br><h5>2021</h5>
                        <br>
                    </li>
                    <p>
                            Aplicación desarrollada con Flutter 
                        <br>con el fin de brindar soporte técnico a 
                        <br>Relojes SmartWatch, con envío.
                    </p>
                </ul>
                </div>
                <div class="card p-3">
                  <ul>
                      <li>
                        <a href="https://giannoni-ezequiel.github.io/Encriptador/">
                          <h3 >Encriptador </h3></a> - 
                          <br><h5>2023</h5>
                          <br>
                      </li>
                      <p>
                              Encriptador de texto 
                          <br>realizado con HTML, CSS Y JavaScript 
                 
                      </p>
                  </ul>
                  </div>
                <!--<div class="card-group text-align">
                    <div class="card text-center">
                            <div class="card-body">
                                <circle-progress
                            [percent]="70"
                            [radius]="60"
                            [imageSrc]="'../../../assets/Flutter.png'"
                            [showImage]="true"
                            [imageHeight]="70"
                            [imageWidth]="70"
                            [showUnits] = "false"
                            [title]="'JAVA'"
                            [titleFontSize]="'2em'"
                            [showTitle]="false"
                            [outerStrokeWidth]="8"
                            [innerStrokeWidth]="4"
                            [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'"
                            [animation]="true"
                            [animationDuration]="600"   
                        >
                                </circle-progress>
                            </div>
                        </div>
                    <div class="card text-center">
                            <div class="card-body text-center">
                                <circle-progress
                                [percent]="70"
                                [radius]="60"
                                [imageSrc]="'../../../assets/AndroidStudio.jpg'"
                                [showImage]="true"
                                [imageHeight]="70"
                                [imageWidth]="70"
                                [showUnits] = "false"
                                [title]="'JAVA'"
                                [titleFontSize]="'2em'"
                                [showTitle]="false"
                                [outerStrokeWidth]="8"
                                [innerStrokeWidth]="4"
                                [outerStrokeColor]="'#78C000'"
                                [innerStrokeColor]="'#C7E596'"
                                [animation]="true"
                                [animationDuration]="600"   
                            >
                                </circle-progress>         
                            </div>
                        </div>
                    <div class="card text-center">
                            <div class="card-body text-center">
                                <circle-progress
                                    [percent]="70"
                                    [radius]="60"
                                    [imageSrc]="'../../../assets/AdobeXD.png'"
                                    [showImage]="true"
                                    [imageHeight]="70"
                                    [imageWidth]="70"
                                    [showUnits] = "false"
                                    [title]="'JAVA'"
                                    [titleFontSize]="'2em'"
                                    [showTitle]="false"
                                    [outerStrokeWidth]="8"
                                    [innerStrokeWidth]="4"
                                    [outerStrokeColor]="'#78C000'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="600"   
                                >
                                </circle-progress>         
                            </div>
                        </div>
            </div>
        </div>
        </div>-->
    </div>
</div>