<div class="row">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        <h2>Proyectos realizados</h2>
      </a>
    </p>
</div>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <ul>
                <li>
                    <h3>App Mobile </h3> - 
                    <h4>2021</h4>
                    </li>
                <p>
                    </p>
                </ul>
            <p>
                Aplicación desarrollada con Flutter 
                con el fin de uso de brindar y monitorear soporte técnico a Relojes SmartWatch.
                </p>
            <div class="card-group text-align">
                <div class="card text-center">
                        <div class="card-body">
                            <circle-progress
                        [percent]="70"
                        [radius]="60"
                        [imageSrc]="'../../../assets/Flutter.png'"
                        [showImage]="true"
                        [imageHeight]="70"
                        [imageWidth]="70"
                        [showUnits] = "false"
                        [title]="'JAVA'"
                        [titleFontSize]="'2em'"
                        [showTitle]="false"
                        [outerStrokeWidth]="8"
                        [innerStrokeWidth]="4"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="600"   
                    >
                            </circle-progress>
                        </div>
                    </div>
                <div class="card text-center">
                        <div class="card-body text-center">
                            <circle-progress
                            [percent]="70"
                            [radius]="60"
                            [imageSrc]="'../../../assets/AndroidStudio.jpg'"
                            [showImage]="true"
                            [imageHeight]="70"
                            [imageWidth]="70"
                            [showUnits] = "false"
                            [title]="'JAVA'"
                            [titleFontSize]="'2em'"
                            [showTitle]="false"
                            [outerStrokeWidth]="8"
                            [innerStrokeWidth]="4"
                            [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'"
                            [animation]="true"
                            [animationDuration]="600"   
                        >
                            </circle-progress>         
                        </div>
                    </div>
                <div class="card text-center">
                        <div class="card-body text-center">
                            <circle-progress
                                [percent]="70"
                                [radius]="60"
                                [imageSrc]="'../../../assets/AdobeXD.png'"
                                [showImage]="true"
                                [imageHeight]="70"
                                [imageWidth]="70"
                                [showUnits] = "false"
                                [title]="'JAVA'"
                                [titleFontSize]="'2em'"
                                [showTitle]="false"
                                [outerStrokeWidth]="8"
                                [innerStrokeWidth]="4"
                                [outerStrokeColor]="'#78C000'"
                                [innerStrokeColor]="'#C7E596'"
                                [animation]="true"
                                [animationDuration]="600"   
                            >
                            </circle-progress>         
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>