<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-11">
    <ul>
        <li>
            <h3>HELP DESK N1</h3> - 
            <h4>2022</h4>
        </li>
            <p>
                Pixel It Solutions
                ABM. Atención telefonica. Resolución de incidencias (VPN)
            </p>
        </ul>
        <ul>
        <li>
            <h3>RECSA Callcenter</h3> - 
            <h4>(years)</h4>
        </li>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Velit aliquid eum unde cum atque, necessitatibus saepe, 
            iure cumque natus cupiditate accusantium, harum pariatur modi 
            quos consequuntur ab tempore nam explicabo.
        </p>
        </ul>
        <ul>
        <li>
                <h3>STARBUCKS Coffee</h3> - 
                <h4>(years)</h4>
        </li>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Velit aliquid eum unde cum atque, necessitatibus saepe, 
        iure cumque natus cupiditate accusantium, harum pariatur modi 
        quos consequuntur ab tempore nam explicabo.
        </p>
        </ul>
    </div>
</div>
