div{
    background: rgb(199,116,255);
    background: linear-gradient(90deg, rgba(199,116,255,1) 0%, rgba(255,118,118,1) 50%, rgba(255,205,135,1) 100%);
}

app-social{
    float: right;
    margin-top: 25px;
}