<div class="row">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          <h2>Hard & Soft Skills</h2>
      </a>
    </p>
</div>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card-group">
                    <div class="card text-center">
                        <div class="card-body">
                            <circle-progress
                                    [percent]="85"
                                    [radius]="90"
                                    [imageSrc]="'../../../assets/Java.png'"
                                    [showImage]="true"
                                    [imageHeight]="70"
                                    [imageWidth]="70"
                                    [title]="'JAVA'"
                                    [showUnits]="false"
                                    [titleColor]="'white'"
                                    [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="2"
                                    [outerStrokeColor]="'#39FF14'"
                                    [innerStrokeColor]="'radial-gradient'"
                                    [animation]="true"
                                    [animationDuration]="600"   
                                        >
                            </circle-progress>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body text-center">
                            <circle-progress
                            [percent]="70"
                            [radius]="90"
                            [imageSrc]="'../assets/Bootstrap.png'"
                            [showImage]="true"
                            [imageHeight]="90"
                            [imageWidth]="90"
                            [showUnits] = "false"
                            [title]="'Bootstrap'"
                            [titleFontSize]="'2em'"
                            [showTitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="2"
                            [outerStrokeColor]="'#39FF14'"
                            [innerStrokeColor]="'radial-gradient'"
                            [animation]="true"
                            [animationDuration]="600"
                        >
                            </circle-progress>         
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body text-center">
                            <circle-progress
                            [percent]="70"
                            [radius]="90"
                            [imageSrc]="'../assets/js.png'"
                            [showImage]="true"
                            [imageHeight]="90"
                            [imageWidth]="90"
                            [showUnits] = "false"
                            [title]="'HTML'"
                            [titleFontSize]="'2em'"
                            [showTitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="2"
                            [outerStrokeColor]="'#39FF14'"
                            [innerStrokeColor]="'radial-gradient'"
                            [animation]="true"
                            [animationDuration]="600"
                        >
                            </circle-progress>         
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body text-center">
                            <circle-progress
                            [percent]="80"
                            [radius]="90"
                            [imageSrc]="'../assets/html.png'"
                            [showImage]="true"
                            [imageHeight]="90"
                            [imageWidth]="90"
                            [showUnits] = "false"
                            [title]="'HTML'"
                            [titleFontSize]="'2em'"
                            [showTitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="2"
                            [outerStrokeColor]="'#39FF14'"
                            [innerStrokeColor]="'radial-gradient'"
                            [animation]="true"
                            [animationDuration]="600"
                        >
                            </circle-progress>        
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body text-center">
                            <circle-progress
                            [percent]="100"
                            [radius]="90"
                            [imageSrc]="'../assets/CSS.png'"
                            [showImage]="true"
                            [imageHeight]="90"
                            [imageWidth]="90"
                            [showUnits] = "false"
                            [title]="'HTML'"
                            [titleFontSize]="'2em'"
                            [showTitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="2"
                            [outerStrokeColor]="'#39FF14'"
                            [innerStrokeColor]="'radial-gradient'"
                            [animation]="true"
                            [animationDuration]="600"
                        >
                            </circle-progress>         
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
  

