.row {
  color: #cc5757;
  padding: 20px;
  background: rgb(20,32,46);
  background: radial-gradient(circle, rgba(20,32,46,1) 30%, rgba(10,19,52,1) 56%, rgba(45,67,86,1) 77%, rgba(137,170,195,1) 98%);

  }
  th {
    color:rgb(247, 242, 242);
}
td {
    color: rgb(253, 253, 253);
}
.div .circle-progress {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
  }

.div {
    text-align: center;
  }

h1, h3 {
    display: inline;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #14202e;
}

h2 {
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: url('../../../assets/abc.png');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 7.5s linear infinite;
  }

@keyframes text {
    from { background-position: 0% 50%; }
    to { background-position: 100% 100%; }
  }

.card-body{
  background: rgb(20,32,46);
}

.btn {
  background: rgb(32, 51, 72);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
    background-color: transparent;
    border: 0;
    padding: 0;
}
